*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins' sans-serif;
}
:root{
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}

/* header============= section Styling (header)====== */
/* header============= section Styling (header)====== */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background:transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    transition: .3s;
}
/* javacript for header */
.header.sticky{
background: var(--bg-color);
}
/* javacript for header */
.logo{
    position: relative;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}
.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 600;
    margin-left: 3.5rem;
    transition:  .3s;
}
.navbar{
    position: relative;
}

.navbar a:hover,
.navbar a.active
{
color: var(--main-color);
}
/* ===========Menu======== */
.dash1,
.dash2,
.dash3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}
#menu_icon{
    position: relative;
    cursor: pointer;
    display: none;
}
/* ===========Menu======== */
/* header============= section Styling (header)====== */
/* header============= section Styling (header)====== */

/* 1=============st section Styling (Home)====== */
/* 1=============st section Styling (Home)====== */
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.home{
display: flex;
align-items: center;
 padding: 0 9%;
 background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url("../img/IMG-20221229-WA0003.jpg");
 /* background: url('../img/IMG-20221229-WA0003.jpg') no-repeat; */
 background-size: cover;
 background-position: center;
}
.home-content{
    max-width: 60rem;
    z-index: 99;
}
.home-content h1{
    position: relative;
    display: inline-block;
    font-size: 4.6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-content h1 span{
    color: var(--text-color);
}
.home-content .text_animate{
    position: relative;
    width: 32.8rem;
}
.home-content .text_animate h3{
 font-size: 3.2rem;
 font-weight: 700;
 color: transparent;
 -webkit-text-stroke: .7px var(--main-color); 
 background-image:linear-gradient(var(--main-color),var(--main-color));
 background-repeat: no-repeat; 
 -webkit-background-clip: text; 
 background-position: -33rem 0;
 
}
.home.show_animate .home-content .text_animate h3{
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;
}
/* KEYFRAME ANIMATION */
@keyframes homeBgText{
    0%,
    10%,
    100%{
        background-position: -33rem 0;
    }
    65%,
    85%{
        background-position: 0 0;
    }
}


@keyframes homeCursorText{
    0%,
    10%,
    100%{
       width: 0;
    }
    65%,
    78%,
    85%{
     width: 100%;
     opacity: 1;
    }
    75%,
    81%{
       opacity: 0; 
    }
}
/* KEYFRAME ANIMATION */

.home-content .text_animate h3::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid var(--main-color);
    z-index: -1;
   
}
.home.show_animate .home-content .text_animate h3::before{
    animation: homeCursorText 6s linear infinite;
    animation-delay: 2s;
}
/* KEYFRAME ANIMATION */

@keyframes homeCursorText{
    0%,
    10%,
    100%{
       width: 0;
    }
    65%,
    78%,
    85%{
     width: 85%;
     opacity: 1;
    }
    75%,
    81%{
       opacity: 0; 
    }
}
/* KEYFRAME ANIMATION */

.home-content p{
    position: relative;
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}
.btn_box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}
.btn_box .btn{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color:var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.btn_box .btn:hover{
    color: var(--main-color);
}
.btn_box .btn:nth-child(2){
    background: transparent;
    color: var(--main-color);
}
.btn_box .btn:nth-child(2):hover{
    color: var(--bg-color);
}
.btn_box .btn:nth-child(2)::before{
    background: var(--main-color);
}

.btn_box .btn::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}
.btn_box .btn:hover::before{
    width: 100%;
}
.home_sci{
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
}
.home_sci a{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: .2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 20px;
  color: var(--main-color);
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}
.home_sci a:hover{
    color: var(--bg-color);
}
.home_sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;

}
.home_sci a:hover::before{
    width: 100%;
}
.home_imgHover{
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    background: transparent;
    /* border: 2px solid red; */
    transition: 3s;
}
.home_imgHover:hover{
    background: var(--bg-color);
    opacity: .8;
}
/* 1=============st section Styling (Home)====== */
/* 1=============st section Styling (Home)====== */


/* 2=============nd section Styling (About)====== */
/* 2=============nd section Styling (About)====== */
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--second-bg-color);
    padding-bottom: 6rem;
}
.heading{
    position: relative;
    /* display: inline-block; */
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}
span{
    color: var(--main-color);
}
.about_img{
  position: relative;
  width: 25rem;
  height:25rem ;  
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.about_img img{
    object-fit: cover;
    height: 90%;
    width: 90%;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
}
.about_img .circle_spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid transparent;
    border-bottom: .2rem solid transparent;
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
    animation: aboutSpinner 8s linear infinite;
}
/* KEYFRAME ANIMATION */
@keyframes aboutSpinner{
    100%{
        transform:  translate(-50%, -50%) rotate(360deg);
    }
}
/* KEYFRAME ANIMATION */

.about_content{
    text-align: center;
}

.about_content h3{
    position: relative;
    display: inline-block;
    font-size: 2.6rem;
}
.about_content p{
    position: relative;
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}
.btn_box.btns{
    display: inline-block;
    width: 15rem;
}
.btn_box.btn::before{
    background: var(--second-bg-color);
}
/* 2=============nd section Styling (About)====== */
/* 2=============nd section Styling (About)====== */

/* 3=============rd section Styling (Education)====== */
/* 3=============rd section Styling (Education)====== */
.education{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding: 5rem;
}
.education .education_row{
display: flex;
flex-wrap: wrap;
gap: 5rem;
}
.education_row .education_column {
flex: 1 1 40rem;
}

.education_column .tittle{
position: relative;
display: inline-block;
  font-size: 2.5rem;
  margin: 0 0 1.5rem 2rem;  
}
.education_column .education_box{
    position: relative;
    border-left: .2rem solid var(--main-color);
}
.education_box .education_content{
    position: relative;
    padding-left: 2rem;
}
.education_box .education_content::before{
   content: '';
   position: absolute;
   top: 0;
   left: -1.1rem;
   width: 2rem;
   height: 2rem;
   background: var(--main-color); 
   border-radius: 50%;
}

.education_content .content{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem ;
    overflow: hidden;
  
}
.education_content .content::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background:var(--second-bg-color); 
  z-index: -1; 
  transition: .5s;
}
.education_content .content:hover::before{
    width: 100%;
}
.education_content .content .year{
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: .5rem;
   
}
.education_content .content h3{
    font-size: 2rem;
}
.education_content .content p{
    font-size: 1.6rem;
    padding-top: .5rem;
}

/* 3=============rd section Styling (Education)====== */


/* ============= section Styling (Skills)====== */
/* ============= section Styling (Skills)====== */
.skill{
    min-height: auto;
    padding-bottom: 7rem;
    background: var(--second-bg-color);
}
.skill h2{
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}
.skill .skill_row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.skill_row .skill_column{
    flex: 1 1 40rem;
}
.skill_column .title{
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}
.skill_column .skill_box{
    position: relative;
}


.skill_box .skills_content{
    /* display: inline-block; */
    position: relative;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
}
.skill_box .skills_content::before{
content: '';
position: absolute;
top: 0;
left: 0;
width: 0;
height: 100%;
background: var(--bg-color);
z-index: -1;
transition: .5s;
}

.skill_box .skills_content:hover::before{
width: 100%;
}
.skills_content .progress{
    padding: 1rem 0;
}
.skills_content .progress h3{
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}
.skills_content .progress h3 span{
    color: var(--text-color);
}
.skills_content .progress .bar{
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
    padding: .5rem;
    margin: 1rem 0;
}
.skills_content .progress .bar span{
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: var(--main-color);
}
.skill_column:nth-child(1) .skills_content .progress:nth-child(1) .bar span{
    width: 90%;
}
.skill_column:nth-child(1) .skills_content .progress:nth-child(2) .bar span{
    width: 80%;
}
.skill_column:nth-child(1) .skills_content .progress:nth-child(3) .bar span{
    width: 65%;
}
.skill_column:nth-child(1) .skills_content .progress:nth-child(4) .bar span{
    width: 75%;
}
/* ======================================= */
.skill_column:nth-child(2) .skills_content .progress:nth-child(1) .bar span{
    width: 95%;
}
.skill_column:nth-child(2) .skills_content .progress:nth-child(2) .bar span{
    width: 67%;
}
.skill_column:nth-child(2) .skills_content .progress:nth-child(3) .bar span{
    width: 85%;
}
.skill_column:nth-child(2) .skills_content .progress:nth-child(4) .bar span{
    width: 60%;
}
/* ============= section Styling (Skills)====== */
/* ============= section Styling (Skills)====== */


/* ============= section Styling (Contact)====== */
/* ============= section Styling (Contact)====== */
.contact{
min-height: auto;
padding-bottom: 7rem;
}
.contact h2{
    /* position: relative; */
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}
.contact form{
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}
.contact form .input_box{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input_box .input_field{
    position: inherit;
    width: 49%;
    margin: .8rem 0;
}
.contact form .input_box .input_field input,
.contact form .textarea_field textarea{
width: 100%;
height: 100%;
padding: 1.5rem;
font-size: 1.6rem;
color: var(--text-color);
background: transparent; 
border-radius:  .6rem;
border: .2rem solid var(--main-color);
}
.contact form .input_box .input_field input::placeholder,
.contact form .textarea_field textarea::placeholder{
  color: var(--text-color);  
}
.contact form .focus{
    top: 0;
    left: 0;
    position: absolute;
    width: 0;
    height: 100%;
    background:var(--second-bg-color);
    border-radius: .6rem;
    z-index: -1;
    transition: .5s;
}
.contact form .input_box .input_field input:focus~.focus,
.contact form .input_box .input_field input:valid~.focus,
.contact form .textarea_field textarea:focus~.focus,
.contact form .textarea_field textarea:valid~.focus{
    width: 100%;
}
.contact form .textarea_field{
position: relative;
margin:.8rem 0 2.7rem;
display: flex;
}
.contact form .input_field textarea{
    resize: none;
}
.contact form .btn_box .btns{
    cursor: pointer;
}
/* ============= section Styling (Contact)====== */
/* ============= section Styling (Contact)====== */

.footer{
    display:flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}
.footer_text,
.footer_iconTop{
      position: relative;
}

.footer_text p{
    font-size:1.6rem ;

}
.footer_iconTop a{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding:  .8rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}
.footer_iconTop a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}
.footer_iconTop a:hover::before{
    width: 100%;
}
.footer_iconTop a i{
    font-size: 2.4rem;
    color: var(--bg-color);
    transition: .5s;
}
.footer_iconTop a:hover i{
    color: var(--main-color);
}

/* ANIMATION RELOAD AND SCROLL */
.animate{
  position: absolute;  
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  z-index: 98;
}
.animate.home_img{
    width: 50%;
}
/* ANIMATION RELOAD AND SCROLL */
.logo .animate,
.navbar .animate,
#menu_icon .animate,
.home.show_animate .animate
{
    animation: showRight 1s ease forwards;
    animation-delay: calc(.3s * var(--i));
}
.animate.scroll{
    animation: showRight 1s ease forwards;
    transition: 1s ease;
    transition-delay: calc(.3s / var(--i));

}
section:nth-child(odd) .animate.scroll,
.footer .animate.scroll
{
    background: var(--second-bg-color);
}
.education .education_box .animate.scroll{
    width: 105%;
}
.about.show_animate .animate.scroll,
.education.show_animate .animate.scroll,
.skill.show_animate .animate.scroll,
.contact.show_animate .animate.scroll,
.footer.show_animate .animate.scroll
{
    /* animation: none; */
    transition-delay: calc(.3s * var(--i));
    width: 0;
}
@keyframes showRight{
    100%{
        width: 0;
    }
}



/* BREAKPOINTS */
@media(max-width:1200px){
    html{
        font-size:55%;
    }

}
@media(max-width:991px){
    .header{
        padding: 2rem 4%;
    }
    section{
        padding: 10rem 4% 2rem;
    }
    .home{
        padding: 2rem 4%;
    }
    .footer{
padding: 2rem 4%;
    }

}
@media(max-width:850px){
.animate.home_img{
    width: 55%;
}
}
/* tablet Responsiveness=========== */
@media(max-width:768px){
.header{
    background: var(--bg-color);
}

#menu_icon{
    display: block
}
.navbar{
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    padding: 1rem 4%;
    background: var(--main-color);
    box-shadow: 0.5rem 1rem rgba(0,0,0, .2);
    transition: .25s ease;
    transition-delay: .25s;
    z-index: 1;
}
.navbar.active{
    left: 0;
    transition-delay: 0s;
}
.navbar .active_nav{
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: var(--bg-color);
    border-top:  .1rem solid rgba(0,0,0, .2);
    transition: .25s ease;
    transition-delay: 0s;
}
.navbar.active .active_nav{
    left: 0;
    transition-delay:.25s;
}
.navbar a{
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    transform: translateX(-20rem);
    transition: .25s ease;
    transition-delay: 0s;
}

.navbar.active a{
    transform: translateX(0);
    transition-delay:.25s;
}

.home_imgHover{
    pointer-events: none;
    background: var(--bg-color);
    opacity: .6;
}
}
@media(max-width:520px){
    html{
        font-size: 50%;
    }
    .home-content h1{
        display: flex;
        flex-direction: column;
    }
    .home_sci{
        width: 160px;
    }
    .home_sci a{
        width: 38px;
        height: 38px;
    }

}
@media(max-width:462px){
    .home-content h1{
       font-size: 5.2rem;
    }
    .education{
        padding: 10rem 4% 5rem 5%;
    }
    .contact form .input_box .input_field{
    width: 100%;
}
.footer{
    flex-direction: column-reverse;
}
.footer p{
    margin-top: 2rem;
    text-align: center;
}
}

@media(max-width:371px){

    .logo{
        font-size: 2.3rem;
        /* font-size: 20px; */
    }
.home{
    justify-content: center;
}
.home-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.home-content{
    font-size: 5rem;
}
}